# Python cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Test & coverage
coverage/
.coverage
htmlcov/
*.test.py
*_test.py
test_*.py

# Environment & secrets
.env
.env.*

# Version control & IDE
.git/
.vscode/
.idea/

# Misc
*.log
.DS_Store
